/*Desktop*/
@media only screen and (min-width: 1023px) {
    .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
      .brandnameh2{
          margin-top:30px;
         font-weight:bold
        }
        .logo{
          height:96px;
          width:116px;
          margin-top:22px;
          margin-right:20px;
            
      }
        .navbar{
	height:80px;
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:130px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  .gallerycarousel{
    margin:40px auto; 
    width:70%;
  }
  .gallerycarouselinner{
    height: 600px;
  }
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
}
/*Mobile*/
@media only screen and (max-width: 700px) {
    .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align: center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
        .brandnameh2{
          margin-top:35px;
          font-size: 16px;
          font-weight:bold
        }
        .brandnameh5{
          font-size: 12px;
          
        }
        .logo{
          height:66px;
          width:76px;
          margin-top:22px;
          margin-right:10px;
            
      }
        .navbar{
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:110px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  .mynavbartext{
    text-align: center;
  }
  .gallerycarousel{
    margin:40px auto; 
    width:90%;
    min-height: 250px;
    
  }
  .gallerycarouselinner{
    height: 250px;
  }
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
}

/*Tablet*/
@media only screen and (min-width: 700px) and  (max-width: 1023px) {
    .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align: center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
        .brandnameh2{
          margin-top:35px;
          font-size: 20px;
         font-weight:bold
        }
        .brandnameh5{
          font-size: 14px;
          
        }
        .logo{
          height:66px;
          width:76px;
          margin-top:22px;
          margin-right:10px;
            
      }
        .navbar{
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:110px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  .mynavbartext{
    text-align: center;
  }
  .gallerycarousel{
    margin:40px auto; 
    width:90%;
    
  }
  .gallerycarouselinner{
    height: 400px;
  }
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
}