/*Desktop*/
@media only screen and (min-width: 1023px) {
  .carimg{
    height: 600px;
  }  
  .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
      .brandnameh2{
          margin-top:30px;
         font-weight:bold
        }
        .logo{
          height:96px;
          width:116px;
          margin-top:22px;
          margin-right:20px;
            
      }
        .navbar{
	height:80px;
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:130px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  
  .gallerycarousel{
    margin:40px auto; 
    width:70%;
  }
  
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
  #consent-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    background-color: #1F61AA;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1;
    opacity: 0.8;
    margin: 0 auto;
  
  }
  
  #consent-banner p {
    margin: 0;
    padding: 10px 0 10px;
    font-weight: bold;
    font-size: 17px;
  }
}
/*Mobile*/
@media only screen and (max-width: 700px) {
    .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align: center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
        .brandnameh2{
          margin-top:35px;
          font-size: 16px;
          font-weight:bold
        }
        .brandnameh5{
          font-size: 12px;
          
        }
        .logo{
          height:66px;
          width:76px;
          margin-top:22px;
          margin-right:10px;
            
      }
        .navbar{
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:110px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  .mynavbartext{
    text-align: center;
  }
  .gallerycarousel{
    margin:40px auto; 
    width:90%;
   
    
  }
  .carimg{
    height: 40vh;
  }
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
  #consent-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F61AA;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1;
    opacity: 0.8;
    margin: 0 auto;
  
  }
  
  #consent-banner p {
    margin: 0;
    padding: 5px 0 5px;
    font-weight: bold;
    font-size: 17px;
  }
}

/*Tablet*/
@media only screen and (min-width: 700px) and  (max-width: 1023px) {
    .brandarea{
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align: center;
      }
        .brandname{
         display:flex;
         flex-direction:column;
         
      }
        .brandnameh2{
          margin-top:35px;
          font-size: 20px;
         font-weight:bold
        }
        .brandnameh5{
          font-size: 14px;
          
        }
        .logo{
          height:66px;
          width:76px;
          margin-top:22px;
          margin-right:10px;
            
      }
        .navbar{
	background-color:#1F61AA;
    
	}
   .nav-item{
   margin-right:20px
   }
   .nav-item:hover{
	border-bottom: 3px solid white;
	
	}
	.verytop{
	height:110px;
	font-family:proza;
	
	}
	.navbar-brand{
	display:none
	}
  .mynavbartext{
    text-align: center;
  }
  .gallerycarousel{
    margin:40px auto; 
    width:90%;
    
  }
  .carimg{
    height: 40vh;
  }
  .endsection{
  height:90px;
  background-color:#1F61AA;
  color:white;
 
  
  }
  .endsection a{
    color:#D2EA4C
  }
  #consent-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F61AA;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1;
    opacity: 0.8;
    margin: 0 auto;
  
  }
  
  #consent-banner p {
    margin: 0;
    padding: 5px 0 5px;
    font-weight: bold;
    font-size: 17px;
  }
}